<a href="https://colab.research.google.com/github/Dilshad-shaik-14/Dilshad-shaik-14/blob/main/workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
if 5 > 2:
  print(" five is greater than two")
else:
  print(" five is less than two")

 five is greater than two

In [ ]:
# for example
if 5 > 2:
 print(" five is greater than two")
if 5 > 2:
  print(" five is greater than two")

 five is greater than two
 five is greater than two

In [ ]:
# this is a comment


"""
this is a comment
written in
more than just one line
"""
print(" Hello World!")

 Hello World!

In [ ]:
x,y = 2,4
print(f'sum of x and y:' , x+y)

sum of x and y: 6

In [ ]:
x = int(3.98)
print(x)
y= float(500)
print(y)
z = str(3)
print(z)
print(type(x))
print(type(y))
print(type(z))
x = 3
X = 7
print(x,X)

3
500.0
3
<class 'int'>
<class 'float'>
<class 'str'>
3 7

In [ ]:
myvar = "jhon"
my_var = "jhon"
_my_var = "jhon"
myVar = "jhon"
MYVAR = "jhon"
myvar2 = "jhon"
print(myvar,my_var,_my_var,myVar,MYVAR,myvar2)

jhon jhon jhon jhon jhon jhon

In [ ]:
x = 'awesome'
def fun():
  print(" Python is" ,x)

fun()

 Python is awesome

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_func(fname):
  print(fname +" Refsnes")

my_func("Email")
my_func("Tobias")
my_func("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def func(*kids):
  print(" The youngest child is " + kids[len(kids) - 1])

func("Emil", "Tobias", "Linus", "yuva","raju")

 The youngest child is raju

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["name"])

my_function(fname = "Tobias", name = "Refsnes")

His last name is Refsnes

In [ ]:
myset = {"apple", "banana", "cherry"}
print(len(myset))
print(type(myset))

3
<class 'set'>

In [ ]:
thisset = set(("apple","banana","grapes"))
print(thisset)

{'apple', 'grapes', 'banana'}

In [ ]:
thisset = set(("apple","banana","grapes"))
thisset.add("orange")
print(thisset)

{'apple', 'grapes', 'banana', 'orange'}

In [ ]:
thisset = set(("apple","banana","grapes"))
thisset.update(["orange","mango","grapes"])
print(thisset)

{'mango', 'apple', 'grapes', 'orange', 'banana'}

In [ ]:
thisset = set(("apple","banana","cherry"))
lst = ["kiwi","orange"]

thisset.update(lst)
print(thisset)

{'kiwi', 'apple', 'orange', 'cherry', 'banana'}